<mgt-login></mgt-login>

<ng-container>
  <mgt-file-list page-size="5">
    <template data-type="file">
      <div>
        [[file.id]]
        <!-- Work : show the file id correctly -->
        <mgt-file file-query="/me/drive/items/[[file.id]]"
          ><!-- Not Working : Failed to execute 'attachShadow' (x time the files to show) and the template didn't show-->
          <template>
            <div class="root">
              <span>Found the file [[file.name]]</span>
              <p>The templateRendered event has been fired!</p>
            </div>
          </template>
        </mgt-file>
      </div>
    </template>
  </mgt-file-list>
</ng-container>
